<div
  class="bg-[#05071A] flex flex-col items-center place-content-center h-screen"
>
  <div
    class="square-container w-[75%] h-min rounded-lg flex flex-col items-center justify-center gap-12 shadow-lg"
  >
    <div class="flex flex-row w-full justify-center items-start gap-12">
      <div class="w-[62%] text-start">
        <h1 class="text-[32px] text-gray-200 font-sora font-normal">
          Empowering Your Projects with Collaborative Innovation
        </h1>
        <p class="text-[#9EA3BF] mt-4">
          ColabVista empowers individuals and teams to unleash creativity and
          drive innovation together.
        </p>
      </div>

      <div class="flex flex-row gap-4">
        <div class="card">
          <div class="card-icon">
            <img
              src="https://framerusercontent.com/images/YZtjBfZ0cBhwUl5Q25jjkjZ1ASc.svg"
              alt="Icon"
              class="w-16 h-16"
            />
          </div>
          <div class="card-title">
            <h4 class="text-gray-200">Streamlined Workflow</h4>
          </div>
          <div class="card-content">
            <p>
              Effortlessly Collaborate Across Teams and Projects with
              CloudPeak's Seamless and Intuitive Collaboration Tools
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-icon">
            <img
              src="https://framerusercontent.com/images/YZtjBfZ0cBhwUl5Q25jjkjZ1ASc.svg"
              alt="Icon"
              class="w-16 h-16"
            />
          </div>
          <div class="card-title">
            <h4 class="text-gray-200">Streamlined Workflow</h4>
          </div>
          <div class="card-content">
            <p>
              Effortlessly Collaborate Across Teams and Projects with
              CloudPeak's Seamless and Intuitive Collaboration Tools
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
