<footer class="bg-[#05071A] text-white py-8">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <div class="flex flex-col items-start space-y-1">
      <span class="text-lg font-bold">CloudPeak</span>
      <p class="text-sm text-gray-400">
        Solutions that drive success and propel your business forward
      </p>
    </div>
    <div class="flex space-x-6">
      <a href="#integration" class="hover:text-gray-300">Integration</a>
      <a href="#pricing" class="hover:text-gray-300">Pricing</a>
      <a href="#reviews" class="hover:text-gray-300">Reviews</a>
    </div>
  </div>
  <div
    class="container mx-auto px-4 mt-8 border-t border-gray-600 py-6 flex justify-between items-center"
  >
    <p class="text-gray-400 text-sm">© 2024 Ali Haider. All Rights Reserved</p>
    <div class="flex space-x-4">
      <a href="" target="_blank" class="hover:text-gray-300">
        <img
          src="https://cdn.jsdelivr.net/npm/simple-icons@v8/icons/facebook.svg"
          alt="Facebook"
          class="h-5 w-5"
          style="filter: invert(1)"
        />
      </a>
      <a href="" target="_blank" class="hover:text-gray-300">
        <img
          src="https://cdn.jsdelivr.net/npm/simple-icons@v8/icons/instagram.svg"
          alt="Instagram"
          class="h-5 w-5"
          style="filter: invert(1)"
        />
      </a>

      <a href="" target="_blank" class="hover:text-gray-300">
        <img
          src="https://cdn.jsdelivr.net/npm/simple-icons@v8/icons/linkedin.svg"
          alt="LinkedIn"
          class="h-5 w-5"
          style="filter: invert(1)"
        />
      </a>
    </div>
  </div>
</footer>
