<div
  class="bg-[#05071A] bg-custom h-screen flex items-center place-content-center flex-col font-sora relative"
>
  <div
    class="square-container w-[75%] h-min rounded-lg flex flex-col items-center justify-center gap-12 p-8 shadow-lg"
  >
    <div
      class="glass-box w-auto h-auto text-[18px] font-i text-white absolute bg-glass-effect"
    >
      Your content here
    </div>

    <div class="text-center text-gray-200">
      <h1
        class="font-sora font-normal text-4xl text-[60px] tracking-[-1px] leading-tight"
      >
        Showcase, Connect, Collaborate, Innovate
      </h1>

      <p class="text-[#9EA3BF] mt-4">
        ColabVista is a platform where students can showcase their projects,
        connect with companies, and explore collaboration opportunities. Elevate
        your skills, network with professionals, and unlock new career
        possibilities.
      </p>
    </div>

    <!-- Button or Other Content -->
    <div>
      <button
        class="bg-blue-600 text-white px-6 py-2 rounded-md shadow hover:bg-blue-700 text-[26px]"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
<app-about></app-about>
