<nav class="flex items-center justify-around py-4 header">
  <div class="flex items-center space-x-14">
    <span class="font-extrabold text-lg cursor-pointer">
      <span class="text-2xl text-orange-400">Collab</span>
      <span class="font-semibold text-red-600">Vista</span>
    </span>
  </div>
  <ul class="flex justify-center items-center space-x-4">
    <li>
      <a href="#" class="font-bold text-black hover:underline">Home</a>
    </li>
    <li>
      <a href="#" class="font-bold text-black hover:underline">About</a>
    </li>
    <li>
      <a href="#" class="font-bold text-black hover:underline">People</a>
    </li>
  </ul>
  <div class="flex space-x-4">
    <a
      href="/sign-up"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >Sign Up</a
    >
    <a
      href="/login"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >Login</a
    >
  </div>
</nav>
