<div
  class="trusted-container flex flex-col items-center p-4 bg-[#05071A] shadow-lg py-8 gap-8"
>
  <h2 class="text-gray-400 text-center mb-4">
    Trusted by thousands of companies worldwide
  </h2>
  <div class="icons-container flex items-center gap-4 w-full">
    <img
      src="https://framerusercontent.com/images/lUkgnxG4TC54QinnVf5mT9FW3pU.svg"
      alt="Icon 1"
      class="w-1/5 h-auto flex-1"
    />
    <img
      src="https://framerusercontent.com/images/uSRF59TKBf7N7UYHiDt0Kn4atlY.svg"
      alt="Icon 2"
      class="w-1/5 h-auto flex-1"
    />
    <img
      src="https://framerusercontent.com/images/u1JqPozyq4k4ihpJsHvglzIaE.svg"
      alt="Icon 3"
      class="w-1/5 h-auto flex-1"
    />
    <img
      src="https://framerusercontent.com/images/SYjXyMZqkMYpqNmxraV9D7OOff0.svg"
      alt="Icon 4"
      class="w-1/5 h-auto flex-1"
    />
    <img
      src="https://framerusercontent.com/images/OaIjkZRwzhEem0ceeUJgPo1V9s.svg"
      alt="Icon 5"
      class="w-1/5 h-auto flex-1"
    />
  </div>
</div>
