.trusted-container {
  background-color: #05071a;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icons-container {
  img {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.h-min {
  height: min-content;
}
