<section id="features" class="bg-[#05071A] py-16">
  <div class="container mx-auto">
    <div class="text-center mb-12">
      <h1
        class="text-white font-sora font-normal text-4xl text-[60px] tracking-[-1px] leading-tight"
      >
        Get Connected Fast
      </h1>
      <p class="mt-4 text-[#9EA3BF]">
        Explore Our Inspirational Journey, Values, and Commitment to Providing
        Exceptional SaaS Solutions That Empower Your Business
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="card">
        <div class="card-title text-white">
          <h3>Seamless Integration</h3>
        </div>
        <div class="card-content">
          <p>
            CloudPeak's Flexible Integration Options for Enhanced Efficiency.
          </p>
        </div>
        <div class="card-background-wrapper flex flex-col justify-between">
          <div class="card-metric">
            <h2>200%</h2>
            <p>Faster Integration</p>
          </div>
          <div class="card-icons">
            <img
              src="https://img.icons8.com/color/48/000000/discord-logo.png"
              alt="Discord"
            />
            <img
              src="https://img.icons8.com/color/48/000000/slack-new.png"
              alt="Slack"
            />
            <img
              src="https://img.icons8.com/color/48/000000/zoom.png"
              alt="Zoom"
            />
          </div>
          <div class="card-footer">
            <p>
              Our mission is to empower individuals and organizations to unleash
              their potential.
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-title text-white">
          <h3>Seamless Integration</h3>
        </div>
        <div class="card-content">
          <p>
            CloudPeak's Flexible Integration Options for Enhanced Efficiency.
          </p>
        </div>
        <div class="card-background-wrapper flex flex-col justify-between">
          <div class="card-metric">
            <h2>200%</h2>
            <p>Faster Integration</p>
          </div>
          <div class="card-icons">
            <img
              src="https://img.icons8.com/color/48/000000/discord-logo.png"
              alt="Discord"
            />
            <img
              src="https://img.icons8.com/color/48/000000/slack-new.png"
              alt="Slack"
            />
            <img
              src="https://img.icons8.com/color/48/000000/zoom.png"
              alt="Zoom"
            />
          </div>
          <div class="card-footer">
            <p>
              Our mission is to empower individuals and organizations to unleash
              their potential.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
