#gradient-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}

@keyframes background1 {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.animated-box1 {
  background: linear-gradient(225deg, #d4e1f1, #f0daf5, #f9dcb5, #f79774);
  background-size: 300% 300%;
  animation: background1 5s linear infinite;
}
